.home-container {
  .category-item {
    list-style: none;
  }
  h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #4B508C;
    margin-bottom: 40px;
  }
  .split-line {
    width: 100%;
    margin-bottom: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.27);
  }
  .product-list {
    display: flex;
    flex-wrap: wrap;

    .product-item {
      width: 31%;
      margin-right: 3%;
      margin-bottom: 120px;
      &:nth-child(3n) {
        margin-right: 0;
      }
      position: relative;
      .product-container {
        img {
          width: 100%;
          object-fit: cover;
        }
        .product-info-container {
          min-height: 250px;
          .product-title {
            display: block;
            margin-top: 20px;
            text-decoration: none;
            font-weight: 700;
            font-size: 17px;
            line-height: 30px;
            color: #000000;
          }
          .feature-list {
            li {
              list-style-type: disc;
              font-weight: 400;
              font-size: 17px;
              line-height: 30px;
              color: #000000;
            }
          }
        }
      }
      button, .product-price {
        position: absolute;
        bottom: -90px;
      }
      button {
        width: 100%;
        background: #339D51;
        border-radius: 60px;
        color: white;
        border: none;
        font-size: 19px;
        padding: 20px 0;
        line-height: 22px;
      }
      .product-price {
        position: absolute;
        bottom: -30px;
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        color: #2E3A59;
      }
    }
  }
}